# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
## ignores all build folders
build/
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
StorageControl/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/versions
.pnp.js

/StorageControl/StorageControl.zip
/StorageControl_Native.rar
/StorageControl/.idea/

/StorageControl/.idea/gradle.xml
/StorageControl/.idea/gradle.xml
/StorageControl/.idea/gradle.xml
/StorageControl/.idea/misc.xml
/StorageControl/app/release/app-release.aab
/StorageControl/app/release/*.json
